    <div class="container">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-3">
                <form action="/admin/login" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="usuario" placeholder="Usuario">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control"  name="password" placeholder="Contraseña">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
