<div class="container mt-5 margenes">
    <div class="row">
        <div class="col-7">
            <p class="text-primary text-start fs-3"> ¡Buen día {{persona}}!</p>
        </div>
        <div class="col-5 text-end">
            <a href="/admin/login" class="btn btn-danger">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

    </div>
    <div class="row">
        <div class="col-7 margenes">
            <h2 class="text-light"> Listado de Tareas</h2>
        </div>
      
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped margenes">
                <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Tarea</th>
                        <th class="text-end" scope="col">Añadir comentario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-light" scope="row"> 1 </th>
                        <td class="text-light"> Maridaje </td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="#"><i class="fa-solid fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-light" scope="row"> 2 </th>
                        <td class="text-light"> Cocción </td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="#"><i class="fa-solid fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-light" scope="row"> 3 </th>
                        <td class="text-light"> Mise en place </td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="#"><i class="fa-solid fa-pencil"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>