<div class=" mt-5 container margenes">
    <div class="row">
        <div class="col-7">
            <p class="text-light text-start fs-3"> ¡Buen día!</p>
        </div>
        <div class="col-5 text-end">
            <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fa-solid fa-right-from-bracket"></i></a>
        </div>

    </div>
    <div class="row">
        <div class="col-7 margenes">
            <h2 class="text-light"> Listado de Tareas</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-light">
                        <th scope="col">#</th>
                        <th scope="col">Tarea</th>
                        <th class="text-end" scope="col">Añadir comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tareas}}
                    <tr>
                        <th class="text-light" scope="row">{{id}}</th>
                        <td class="text-light">{{tarea}}</td>
                        {{!-- <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"><i class="fa-solid fa-pencil"></i></a>
                        </td> --}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>