<!-- NAV BAR -->
<nav class="navbar navbar-expand-lg fs-5 justify-content-center bg-dark navbar-dark py-3  fixed-top">
    <div class="container">
        <img height="80" width="80" src="/images/vivo.svg" alt="#">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto gap-4">
                <li class="nav-item">
                    <a href="#seccion_uno   " class="nav-link text-light">Home</a>
                </li>
                <li class="nav-item ">
                    <a href="#nosotros" class=" nav-link text-light">Acerca de nosotros</a>
                </li>
                <li class="nav-item">
                    <a href="#servicios" class=" nav-link text-light">Servicios</a>
                </li>
                <li class="nav-item">
                    <a href="#questions" class="nav-link text-light">FAQ</a>
                </li>
                </li>
                <li class="nav-item">
                    <a href="#contacto" class="nav-link text-light">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- SHOWCASE -->
<section id="seccion_uno" class="bg-dark  text-light p-1 p-lg-0 pt-lg-5 text-center text-sm-start
    ">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-controls">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark"
                    style="background-image:url(/images/langostinos.jpg)" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark"
                    style="background-image:url(/images/entrada.jpg)" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark"
                    style="background-image:url(/images/postres.jpg)" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image:url(/images/langostinos.jpg)"
                data-bs-interval="10000">
                <div class="container">
                    <h2>Entradas</h2>
                    <p>Langostinos a la saranda</p>
                </div>
                {{!-- <img src="/images/langostinos.jpg" class="d-block w-100" alt="..."> --}}
            </div>
            <div class="carousel-item" style="background-image:url(/images/entrada.jpg)" data-bs-interval="2000">
                <div class="container">
                    <h2>Entradas</h2>
                    <p>Langostinos a la saranda</p>
                </div>
                {{!-- <img src="/images/langostinos.jpg" class="d-block w-100" alt="..."> --}}
            </div>
            <div class="carousel-item" style="background-image:url(/images/postres.jpg)">
                <div class="container">
                    <h2>Postres</h2>
                    <p>Tramontana a la saranda</p>
                </div>
                {{!-- <img src="/images/langostinos.jpg" class="d-block w-100" alt="/images/langostinos.jpg"> --}}
            </div>
        </div>
    </div>
</section>

<!-- NOSOTROS -->
<section id="nosotros" class="bg-light text-dark p-5 mt-5">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md">
                <img src="/images/cocineros.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 text-dark">
                <h2 class="fs-2">Acerca de <span class="text-primary">Nosotros</span></h2>
                <p class="lead">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem commodi aspernatur est totam
                    obcaecati ipsum, voluptatum, nobis numquam facilis distinctio odio molestiae deserunt. Assumenda
                    nostrum, amet unde quisquam necessitatibus molestias, expedita quam ad sit repellat quidem veniam
                    similique consequuntur provident quaerat error, odit molestiae veritatis eveniet! Doloribus non
                    perferendis quos.
                </p>

            </div>
        </div>
    </div>
</section>

<!-- SERVICIOS -->
<div class="containe">
    <section id="servicios" class="bg-dark ">
        <div class="row">
            <div class="col-12 mb-5 mt-5 intro-seccion text-light text-center">
                <h2 class="fs-2">Nuestros <span class="text-primary">Servicios</span></h2>
                <p class="lead mt-5">En Casabona Catering prestamos un servicio gastronómico de primera calidad y sobre
                    todo versátil, porque sabemos interpretar el contexto de tu evento.<br>
                    Cada uno de nuestros servicios es diferente, conocé más acerca de ellos: <span
                        class="sociales_y_corporativos text-primary"> <strong> sociales y corporativos.</strong></span>

                </p>
            </div>
        </div>
        <div class="container d-flex align-items-center justify-content-center position-relative mt-5 flex-wrap">
            <div class="card d-flex position-relative flex-column" data-aos="fade-right">
                <div class='imgContainer'>
                    <img src='/images/corporativo.jpg'>
                </div>
                <div class="content">
                    <h2>Eventos Sociales</h2>
                    <p>Bodas de Plata, Bodas de Oro, Cumpleaños, Casamientos, Graduaciones.</p>
                </div>
            </div>
            <div class="card d-flex position-relative flex-column" data-aos="fade-up">
                <div class='imgContainer'>
                    <img src='/images/casamiento.jpg'>
                </div>
                <div class="content">
                    <h2>Eventos Corporativos</h2>
                    <p>Los eventos corporativos forman parte de la estrategia de comunicación de la organización. Cada
                        evento organizado por la empresa tiene una motivación única y diferente.</p>
                </div>
            </div>

        </div>
</div>
</section>

{{!-- GALERÍA --}}

<section id="galeria" class="mt-5">



</section>

<!-- LEARN SECTIONES -->

<section id="learn" class="p-5 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md" data-aos="zoom-in">
                <img src="/images/vivo (1).svg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5 text-dark">
                <h2>Planifique con <span class="text-primary">Tiempo</span></h2>
                <p class="lead">
                    La planificación de eventos es un mal pasatiempo si se realiza a último momento. Para una eficiente
                    prestación de servicio, se debe avisar 90 días previo al evento. <br>
                <p class="lead">
                    Con este tiempo de anticipación en Casabona Catering nos aseguramos, y usted se asegura, un momento
                    único e inolvidable.
                </p>
                <p class="lead">
                    ¡Consulte el calendario y comience a planificar su evento!
                </p>
                </p>

                <a href="https://www.calendario-365.es/calendario-2022.html" target="_blank"
                    class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i>Calendario 2022</a>
                <a href="#contacto" class="btn btn-primary mt-3"><i class="bi bi-chevron-right"></i>Contáctenos</a>
            </div>
        </div>
    </div>
</section>


<!-- TEAM SECTION -->

<section id="contacto" class="p-5 bg-dark">
    <div class="container d-flex justify-content-start gap-5">
        <div class="imagen-formulario">
            <img width="600" height="400" src="/images/contacto.svg" alt="">
        </div>
        <form action="/index.js" method="post" class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom01"></label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Nombre" name="nombre"
                        required>
                    <div class="valid-feedback">
                        ¡Bien!
                    </div>
                    <div class="invalid-feedback text-light">
                        Escriba su nombre
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom02"></label>
                    <input type="text" class="form-control" id="validationCustom02" placeholder="Apellido"
                        name="apellido" required>
                    <div class="valid-feedback">
                        ¡Bien!
                    </div>
                    <div class="invalid-feedback text-light">
                        Escriba su apellido
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom03"></label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="validationCustom03" placeholder="Email" name="email"
                            required>
                        <div class="invalid-feedback text-light">
                            Escriba su mail de contacto
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="validationCustom04">City</label>
                    <input type="text" class="form-control" id="validationCustom04" placeholder="Localidad" name="localidad"
                        required>
                    <div class="invalid-feedback text-light">
                        Escriba la Localidad donde vive
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom05">State</label>
                    <input type="text" class="form-control" id="validationCustom05" placeholder="Provincia"
                        name="provincia" required>
                    <div class="invalid-feedback text-light">
                        Escriba la Provincia donde vive
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="validationCustom06">Zip</label>
                    <input type="text" class="form-control" id="validationCustom06" placeholder="Código Postal" name="codigopostal" required>
                    <div class="invalid-feedback text-light">
                        Escriba su Código Postal
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label text-light" for="invalidCheck">
                        Estoy de Acuerdo con los <a href="#">Términos y Condiciones</a>
                    </label>
                    <div class="invalid-feedback text-light">
                        Debe estar de acuerdo con los Términos y Condiciones
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Enviar</button>
        </form>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>