@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Ubuntu:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BARRA DE NAVEGACIÓN */

.navbar .container .navbar-brand  {
  font-size: 3rem;
}

.navbar-brand{
  text-transform: none;
  font-family: 'Kaushan Script', cursive;
  font-size: 2rem;
}


.navbar .container img{
  position: relative;
left: -15px;

}

.navbar .container span a{
position: relative;
left: -35px;
font-size: 30px;
}

#seccion_uno{
  height: 100vh;
  width: 100vw;

  /* background: url(/images/langostinos.jpg);
  background-size: cover; */
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
 
}

.navbar li a{
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  transition: 0.8s;
}

.navbar li a:hover{
  background-color: #098292;
}



.carousel .carousel-item {
  height: 700px;
}

.carousel .carousel-item.active .container h2{
  font-size: 100px;
  font-family: 'Kaushan Script', cursive;

}
.carousel .carousel-item.active .container p{
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}




.carousel .carousel-item.active .container h2{ 
  animation: fadeInLeft 0.5s ease forwards; 
}
.carousel .carousel-item.active .container p{ 
animation: fadeInRight 0.5s ease forwards;
}

@keyframes fadeInLeft {
  0%{
    opacity: 0;
    transform: translateX(-30px);
  } 100%
  {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRight {
  0%{
    opacity: 0;
    transform: translateX(30px);
  } 100%
  {
    opacity: 1;
    transform: translateX(0px);
  }
}



.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

.carousel .carousel-inner .carousel-item{
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}

.carousel .carousel-inner .carousel-item .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel .carousel-item::before{
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}

.carousel .carousel-controls{
  position: absolute;
  left: 50%;
  bottom: 100px;
  z-index: 10;
  transform: translateX(-50%);

}

.carousel .carousel-indicators{
position: relative;
margin: 0;
}

.carousel .carousel-indicators button{
  height: 70px;
  width: 70px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

#nosotros .container .d-sm-flex {
  /* margin-top: 90px; */
  min-height: 30vh;
}

#nosotros{
  width: 100vw;
}

#galeria .card{
  width: 400px;
  height: 400px;
}

.intro-seccion {
  margin-bottom: 40px;
}

.intro-eion .divider{
  height: 4px;
  width: 130px;
  background: linear-gradient(to right,#00e0fe, #cfdd06);
  margin:20px auto;
}

#questions .container .col-md h2{
  font-family: 'Ubuntu', sans-serif;
}

#questions .container .col-md{
  margin-left: 40px ;
}

#questions{

  overflow: hidden;
}

.container .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover
{
    height: 450px;
}
.container .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}
.container .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

span.sociales_y_corporativos{
font-style: italic;
}



@media (max-width: 330px){
    .container .card .imgContainer{
        left: -2px;
    }
}

@media (max-width: 600px)
{
  .navbar li a{
    font-size: 20px;
  }
  .carousel .carousel-item.active .container h2{
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
  
  }
  .carousel .carousel-item.active .container h2 p{
    font-size: 20px;
    font-family: 'Kaushan Script', cursive;
  
  }

}

@media (max-width:1043px){
  #contacto .container img {
    display: none;
  }
}



#learn{
  width: 100vw;
}

.container .card .content h2{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.container .card .content h2 p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}